Options +Indexes
AddDescription "first blog" "first-blog.html" #Thu, 20 May 2021 19:07:01 -0400
AddDescription "2nd-blog" "2ndblog.html" #Thu, 20 May 2021 19:13:35 -0400
AddDescription "3rd blog" "3rd-blog.html" #Thu, 20 May 2021 19:16:41 -0400
AddDescription "4th blog" "4th-blog.html" #Thu, 20 May 2021 19:18:41 -0400
AddDescription "5th blog" "5th-blog.html" #Thu, 20 May 2021 19:20:40 -0400
AddDescription "6th blog" "6th-blog.html" #Thu, 20 May 2021 19:22:08 -0400
AddDescription "7th try" "7th-try.html" #Thu, 20 May 2021 19:23:09 -0400
AddDescription "8th test" "8th-test.html" #Thu, 20 May 2021 19:24:13 -0400
AddDescription "9th try?" "9th-try.html" #Thu, 20 May 2021 19:25:53 -0400
AddDescription "10th try" "10th-try.html" #Thu, 20 May 2021 19:29:27 -0400
AddDescription "11th" "11th.html" #Thu, 20 May 2021 19:32:36 -0400
AddDescription "12 th try" "12-th-try.html" #Thu, 20 May 2021 19:35:38 -0400
AddDescription "13th try" "13th-try.html" #Thu, 20 May 2021 19:45:33 -0400
AddDescription "14th try" "14th-try.html" #Thu, 20 May 2021 19:53:30 -0400
AddDescription "15th try" "15th-try.html" #Thu, 20 May 2021 19:54:54 -0400
AddDescription "16th try" "16th-try.html" #Thu, 20 May 2021 19:57:46 -0400
