body {
    color: white;
    background: rgb(13,17,23);
    font-size: 16pt;

    padding: 0;
    margin: 0;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

footer p {
    text-align: center;
}

a {
    text-decoration: none;
    color: grey;
}


h1, h2{
    text-align: center;
}

p {
    text-align:justify;
    padding: 0 1em 0 1em;
}


.profilepic {
    max-width: 60%;
    height: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-child {
    text-align: center;
    margin: 1em;
}

@media (min-width: 650px){
    body {
        font-size: 18pt;

    }
    .grid-container {
        grid-template-columns: 2fr 3fr;
    }

    .profilepic {
        max-width: 90%;
        height: auto;
    }
}
