body {
    color: white;
    background: rgb(13,17,23);

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
}



.profilepic {
    max-width: 30%;
    height: auto;
}
